/* .cartao {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px 3px #ffff00c9;
  color: black;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 20rem;
}

.cartao:last-child {
  margin-right: 0;
}

.cartao h2 {
  font-size: 2rem;
  margin: 0.8rem 0;
}


.cartao img {
  width: 100%;
}

.cartao p {
  margin: 0.8rem 0;
}

.cartao h3 {
  font-size: 1.1rem;
} */
